# Dependencies
node_modules/
.pnpm-store/

# Build
dist/
.next/
out/
build/
*.exe
bin/

# Go
vendor/

# Hardhat
cache/
artifacts/
typechain-types/
coverage/
coverage.json

# Env
.env
.env.local
.env.*.local
.env.deploy

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Turbo
.turbo/

# Test
coverage/

# Deploy secrets
deploy/secrets/
